* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: black;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: rgb(39, 39, 39);
  transition: all;
}
